/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Declare inheritable properties in <body> tag */

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: #fff;
}

a {
    text-decoration: none;
}

.main-header,
.nav-bar {
    display: flex;
    flex-direction: column;
}

.main-header {
    text-align: center;
    padding: 6px
}

.logo {
    width: 140px;
}


.navigation {
    padding: 20px;
    width: 90%;
    align-self: center;
}

.nav-bar a {
    display: block;
    padding: 6px;
    color: #797e83;
    font-weight: 300;
    border-bottom: 1px solid #ebecec;
}

.nav-bar a:hover {
    color: #0b0b0b;
    border-bottom-color: #52bab3;
}

.hero {
    background-color: #777;
}

.hero .rectangle-empty {
    padding: 10px;
    height: 80px;
    display: flex;
    justify-content: space-around;
}

.rectangle-content {
    height: 80px;
    width: 100%;
}

.square-top-left,
.square-top-right,
.square-bottom-left,
.square-bottom-right {
    width: 60px;
}

.square-top-left {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}

.square-top-right {
    border-top: 1px solid #000;
    border-right: 1px solid #000;
}

.square-bottom-left {
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}

.square-bottom-right {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}


/* --------------------------
    Media Queries
----------------------------*/

@media (min-width:769px) {
    .main-header {
        height: 200px;
        justify-content: flex-end;
    }

    .logo {
        width: 120px;
    }

    .navigation{
        width: 75%;
    }

    .nav-bar {
        margin-top: .5em;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-bar a {
        border-bottom-color: transparent;
    }
}



@media (min-width:1025px) {

    .main-header {
        height: 120px;
        width: 80%;
        margin: 0 auto;
        flex-direction: row;
    }

    .logo-box {
        margin-right: auto;
        padding-top: .95em;
    }

    .logo {
        width: 90px;
    }

    .navigation{
        align-self: center;
    }

    .navigation,
    .nav-bar{
        margin-top: 0;
    }

    .main-header .navigation {
        width: 40%;
    }
}