/* Basic Reset */
*,
*::after,
*::before {
    margin: 0;          /*The browsers by default display some margin around the body*/
    padding: 0;
    box-sizing: inherit;
}

/* Declare inheritable properties in <body> tag */
html {
    font-size: 62.5%;
}


body {
    font-family: 'Lato', sans-serif;
    /* font-size: 16px; */
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.3;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* --------------------------
   Header
----------------------------*/

nav {
    height: 28%;
    /* 28%(nav) + 1%(upper body padding) + 1%(lower body padding) + 70%(hero-text-box) */
}

.nav-bar {
    display: none;
    /* Hiding the nav-bar for mobile */
}

.main-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/DSC_0089-Edit.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 2rem;
    height: 100%;
    color: #fff;
}

.logo {
    /* width: 400px; */
    padding: .5rem;
}

.logo-box {
    float: left;
}

.nav-bar a {
    display: block;
    width: 70%;
    /* parent width is 50% set by JavaScript ,so 70% of 50% */
    margin: 0 auto;
    padding: .5rem;
    color: #fff;
    font-weight: 300;
    border-bottom: 1px solid #ebecec;
    transition: border .3s;
}

.nav-bar a:hover {
    border-bottom: 1px solid #ebecec;
    border-bottom-color: #52bab3;
}


/* ----------- Mobile Nav ------------- */

.mobile-nav-icon {
    float: right;
    cursor: pointer;
    color: #fff;
    margin: .85rem;
}

.icon {
    font-size: 200%
}


/* ----------- Hero Text ------------- */

.hero-text-box {
    height: 70%;
    display: flex;
    flex-direction: column;
    line-height: 1.4;
}


.rectangle-empty {
    padding: 1rem;
    height: 8rem;
    display: flex;
    justify-content: space-between;
}

.rectangle-content {
    height: 43%;
    margin-bottom: auto;
    margin-top: auto;
}

.square {
    width: 6rem;
}

.square-top-left {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}

.square-top-right {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

.square-bottom-left {
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
}

.square-bottom-right {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}


.role,
.name,
.tag-line {
    text-transform: uppercase;
}

.role {
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: .2rem;
}

.place {
    font-size: 1.25rem;
}

.name {
    font-family: 'Six Caps', sans-serif;
    letter-spacing: .4rem;
    font-size: 6rem;
    font-weight: 400;
}

.tag-line {
    font-size: .98rem;
    margin-bottom: 4rem;
    font-style: italic;
}

.social-media {
    text-align: center;
    margin-top: .8rem;
}

.social-media a {
    padding: 1rem;
}

.social-media ion-icon {
    font-size: 2.5rem;
    color: #fff
}

[name="logo-instagram"]:hover {
    color: #e95950;
}

[name="logo-youtube"]:hover {
    color: #ff0000;
}

[name="logo-facebook"]:hover {
    color: #3b5998;
}



/* --------------------------
    Media Queries
----------------------------*/


@media only screen and (min-width:540px) {

    .role {
        font-size: 2.64rem;
    }

    .name {
        letter-spacing: .5rem;
        font-size: 7.5rem;
    }

    .tag-line {
        letter-spacing: .15rem;
    }
}

@media only screen and (min-width:768px) {

    nav {
        display: flex;
        flex-direction: column;
    }


    .mobile-nav-icon {
        display: none;
        /* Making the hamburger icon disappear */
    }

    nav {
        height: 18%;
        /* 18% + 1% + 1% + 80% */
    }

    .nav-bar {
        width: 70% !important;
        margin: .5em auto;
        display: flex !important;
        justify-content: center;
    }

    .nav-bar li {
        width: 22.5%;
        /* 22.5 * 4 + 2.5 * 4 = 100% */
        margin-right: 2.5%;

    }

    .nav-bar a {
        border-bottom-color: transparent;
    }

    .hero-text-box {
        height: 80%;
    }

    .rectangle-empty {
        height: 12rem;
    }

    .rectangle-content {
        height: 65%;
        padding-top: 5%;
        margin: 0;
    }

    .square {
        width: 10rem;
    }

    .square-top-left {
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        animation-name: move-in-left;
        animation-duration: .75s;
    }

    .square-top-right {
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        animation-name: move-in-right;
        animation-duration: .75s;
    }

    .square-bottom-left {
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        animation-name: move-in-left;
        animation-duration: .75s;
    }

    .square-bottom-right {
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
        animation-name: move-in-right;
        animation-duration: .75s;
    }

    .role {
        font-size: 3.45rem;
    }

    .place {
        font-size: 1.5rem;
        text-transform: lowercase;
    }

    .name {
        font-size: 9.6rem;
        letter-spacing: .7rem;
        font-weight: 500;
    }

    .tag-line {
        font-size: 1.35rem;
    }

    @keyframes move-in-left {
        0% {
            opcity: 0;
            transform: translate(-2rem);
        }

        100% {
            opacity: 100;
            transform: translate(0);
        }
    }

    @keyframes move-in-right {
        0% {
            opcity: 0;
            transform: translate(2rem);
        }

        100% {
            opacity: 100;
            transform: translate(0);
        }
    }
}

@media (min-width:1024px) {

    nav {
        flex-direction: row;
        height: 10%;
        /* 10 + 1 + 1 + 88 = 100 % */
        width: 80%;
        margin: 0 auto;
        padding-left: 6%;
    }

    .logo-box {
        margin-right: auto;
        padding-top: 1.52rem;
    }

    .nav-bar {
        max-width: 65%;
        padding-left: 3.2rem;
        padding-top: 1.6rem;
    }

    .hero-text-box {
        height: 88%;
    }

    .role {
        font-size: 4.1rem;
    }

    .name {
        font-size: 11.2rem;
        letter-spacing: .9rem;
    }

    .place {
        font-size: 1.75rem;
    }

    .tag-line {
        font-size: 1.65rem;
    }

    .square {
        margin: 2.4rem;
    }
}